In [169]:
import pandas as pd 
import sqlite3
pd.options.display.max_columns = 99
pd.options.display.float_format = '{:,.2f}'.format

In [7]:
data = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

In [10]:
for chunk in data:
    chunk.head(5)
chunk.head(5)

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
50000,/company/nuorder,NuORDER,fashion,USA,CA,Los Angeles,West Hollywood,/person/mortimer-singer,Mortimer Singer,NaN,NaN,NaN,unknown,NaN,series-a,2012-10-01,2012-10,2012-Q4,2012,3060000.0
50001,/company/chacha,ChaCha,advertising,USA,IN,Indianapolis,Carmel,/person/morton-meyerson,Morton Meyerson,NaN,NaN,NaN,unknown,NaN,series-b,2007-10-01,2007-10,2007-Q4,2007,12000000.0
50002,/company/binfire,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,/person/moshe-ariel,Moshe Ariel,NaN,NaN,NaN,unknown,NaN,angel,2008-04-18,2008-04,2008-Q2,2008,500000.0
50003,/company/binfire,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,/person/moshe-ariel,Moshe Ariel,NaN,NaN,NaN,unknown,NaN,angel,2010-01-01,2010-01,2010-Q1,2010,750000.0
50004,/company/unified-color,Unified Color,software,USA,CA,SF Bay,South San Frnacisco,/person/mr-andrew-oung,Mr. Andrew Oung,NaN,NaN,NaN,unknown,NaN,angel,2010-01-01,2010-01,2010-Q1,2010,NaN

In [11]:
columns = []
for col in chunk.columns:
    columns.append(col)

In [12]:
columns

['company_permalink',
 'company_name',
 'company_category_code',
 'company_country_code',
 'company_state_code',
 'company_region',
 'company_city',
 'investor_permalink',
 'investor_name',
 'investor_category_code',
 'investor_country_code',
 'investor_state_code',
 'investor_region',
 'investor_city',
 'funding_round_type',
 'funded_at',
 'funded_month',
 'funded_quarter',
 'funded_year',
 'raised_amount_usd']

In [102]:
# What data is missing?
data = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

missing_data = []

for chunk in data:
    missing_data.append(chunk.isnull().sum())

combined_missing_data = pd.concat(missing_data)
unique_combined_mv_vc = combined_missing_data.groupby(combined_missing_data.index).sum()
unique_combined_mv_vc.sort_values(ascending=False)

investor_category_code    50427
investor_state_code       16809
investor_city             12480
investor_country_code     12001
raised_amount_usd          3599
company_category_code       643
company_city                533
company_state_code          492
funding_round_type            3
funded_year                   3
funded_month                  3
funded_at                     3
funded_quarter                3
investor_name                 2
investor_permalink            2
investor_region               2
company_region                1
company_permalink             1
company_name                  1
company_country_code          1
dtype: int64

In [103]:
# Let's drop columns not useful to our analysis
drop_columns = ["investor_permalink",
                "company_permalink",
                "investor_category_code",
               "investor_category_code",
                "investor_state_code",
                "investor_city",
                "investor_country_code",
               ]

data_keep_columns = chunk.columns.drop(drop_columns)

In [104]:
data_keep_columns = data_keep_columns.tolist()

In [105]:
data_keep_columns

['company_name',
 'company_category_code',
 'company_country_code',
 'company_state_code',
 'company_region',
 'company_city',
 'investor_name',
 'investor_region',
 'funding_round_type',
 'funded_at',
 'funded_month',
 'funded_quarter',
 'funded_year',
 'raised_amount_usd']

In [106]:
data = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=data_keep_columns)

In [107]:
chunk.head(5)

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
50000,/company/nuorder,NuORDER,fashion,USA,CA,Los Angeles,West Hollywood,/person/mortimer-singer,Mortimer Singer,NaN,NaN,NaN,unknown,NaN,series-a,2012-10-01,2012-10,2012-Q4,2012,3060000.0
50001,/company/chacha,ChaCha,advertising,USA,IN,Indianapolis,Carmel,/person/morton-meyerson,Morton Meyerson,NaN,NaN,NaN,unknown,NaN,series-b,2007-10-01,2007-10,2007-Q4,2007,12000000.0
50002,/company/binfire,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,/person/moshe-ariel,Moshe Ariel,NaN,NaN,NaN,unknown,NaN,angel,2008-04-18,2008-04,2008-Q2,2008,500000.0
50003,/company/binfire,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,/person/moshe-ariel,Moshe Ariel,NaN,NaN,NaN,unknown,NaN,angel,2010-01-01,2010-01,2010-Q1,2010,750000.0
50004,/company/unified-color,Unified Color,software,USA,CA,SF Bay,South San Frnacisco,/person/mr-andrew-oung,Mr. Andrew Oung,NaN,NaN,NaN,unknown,NaN,angel,2010-01-01,2010-01,2010-Q1,2010,NaN

In [108]:
column_types = {}

for chunk in data:
    for column in chunk.columns:
        if column not in column_types:
            column_types[column] = [str(chunk.dtypes[column])]
        else:
            column_types[column].append(str(chunk.dtypes[column]))

In [109]:
column_types

{'company_category_code': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'company_city': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'company_country_code': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'company_name': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'company_region': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'company_state_code': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'funded_at': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'funded_month': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'funded_quarter': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'funded_year': ['int64',
  'int64',
  'int64',
  'int64',
  'int64',
  'int64',
  'float64',
  'int64',
  'int64',
  'int64',
  'int64'],
 'funding_round_type': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'investor_name': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'investor_region': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'raised_amount_usd': ['float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64']}

In [110]:
unique_column_types = {}

for key, value in column_types.items():
    unique_column_types[key] = set(column_types[key])

In [111]:
unique_column_types

{'company_category_code': {'object'},
 'company_city': {'object'},
 'company_country_code': {'object'},
 'company_name': {'object'},
 'company_region': {'object'},
 'company_state_code': {'object'},
 'funded_at': {'object'},
 'funded_month': {'object'},
 'funded_quarter': {'object'},
 'funded_year': {'float64', 'int64'},
 'funding_round_type': {'object'},
 'investor_name': {'object'},
 'investor_region': {'object'},
 'raised_amount_usd': {'float64'}}

In [112]:
date_columns = ["funded_at", "funded_month", "funded_quarter", "funded_year"]

In [114]:
chunk.head(5)

,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_name,investor_region,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
50000,NuORDER,fashion,USA,CA,Los Angeles,West Hollywood,Mortimer Singer,unknown,series-a,2012-10-01,2012-10,2012-Q4,2012,3060000.0
50001,ChaCha,advertising,USA,IN,Indianapolis,Carmel,Morton Meyerson,unknown,series-b,2007-10-01,2007-10,2007-Q4,2007,12000000.0
50002,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,Moshe Ariel,unknown,angel,2008-04-18,2008-04,2008-Q2,2008,500000.0
50003,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,Moshe Ariel,unknown,angel,2010-01-01,2010-01,2010-Q1,2010,750000.0
50004,Unified Color,software,USA,CA,SF Bay,South San Frnacisco,Mr. Andrew Oung,unknown,angel,2010-01-01,2010-01,2010-Q1,2010,NaN

In [115]:
data = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=data_keep_columns, parse_dates=date_columns)

In [116]:
total_mem = chunk.memory_usage(deep=True)

total_mem_sum = total_mem.sum()

total_mem_used = total_mem_sum / (1024*1024)

print(total_mem_used)

2.1582107543945312

## Results ##

* After dropping unnecessary columns and converting various date fields to date type, total memory usage is under 3 MB.

## Import data into sqlite3 database ##

In [118]:
conn = sqlite3.connect('crunchbase.db')

In [121]:
for chunk in data:
    chunk.to_sql("investments", conn, if_exists="append", index=False)

In [126]:
query = "SELECT * FROM investments LIMIT 10"

pd.read_sql(query, conn)

,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_name,investor_region,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,Visible World,advertising,USA,NY,New York,New York,AllianceBernstein,New York,series-c+,2008-04-14 00:00:00,2008-04-01 00:00:00,2008-04-01 00:00:00,2008-01-01 00:00:00,25000000.0
1,obopay,mobile,USA,CA,SF Bay,Redwood City,AllianceBernstein,New York,series-c+,2008-04-21 00:00:00,2008-04-01 00:00:00,2008-04-01 00:00:00,2008-01-01 00:00:00,20000000.0
2,Jumptap,mobile,USA,MA,Boston,Boston,AllianceBernstein,New York,series-c+,2008-08-26 00:00:00,2008-08-01 00:00:00,2008-07-01 00:00:00,2008-01-01 00:00:00,26000000.0
3,Avid Radiopharmaceuticals,biotech,USA,PA,Philadelphia,Philadelphia,AllianceBernstein,New York,series-c+,2009-05-21 00:00:00,2009-05-01 00:00:00,2009-04-01 00:00:00,2009-01-01 00:00:00,34500000.0
4,Avid Radiopharmaceuticals,biotech,USA,PA,Philadelphia,Philadelphia,AllianceBernstein,New York,series-c+,2007-05-09 00:00:00,2007-05-01 00:00:00,2007-04-01 00:00:00,2007-01-01 00:00:00,26000000.0
5,Pacific Biosciences,biotech,USA,CA,SF Bay,Menlo Park,AllianceBernstein,New York,series-c+,2009-10-01 00:00:00,2009-10-01 00:00:00,2009-10-01 00:00:00,2009-01-01 00:00:00,68000000.0
6,Fluidigm,biotech,USA,CA,SF Bay,South San Francisco,AllianceBernstein,New York,series-c+,2007-01-10 00:00:00,2007-01-01 00:00:00,2007-01-01 00:00:00,2007-01-01 00:00:00,17000000.0
7,Metabolex,biotech,USA,CA,SF Bay,Hayward,AllianceBernstein,New York,series-c+,2007-04-19 00:00:00,2007-04-01 00:00:00,2007-04-01 00:00:00,2007-01-01 00:00:00,32000000.0
8,Impinj,semiconductor,USA,WA,Seattle,Seattle,AllianceBernstein,New York,series-c+,2007-03-07 00:00:00,2007-03-01 00:00:00,2007-01-01 00:00:00,2007-01-01 00:00:00,19000000.0
9,Targeted Growth,biotech,USA,WA,Seattle,Seattle,AllianceBernstein,New York,venture,2007-02-07 00:00:00,2007-02-01 00:00:00,2007-01-01 00:00:00,2007-01-01 00:00:00,22300000.0


## Analysis ## 
Now that we have our data set up in sqlite3 - let's look at the following questions:

* What proportion of the total amount of funds did the top 10% raise? What about the top 1%? Compare these values to the proportions the bottom 10% and bottom 1% raised.

* Which category of company attracted the most investments?

* Which investor contributed the most money (across all startups)?

* Which investors contributed the most money per startup?

* Which funding round was the most popular? Which was the least popular?

In [176]:
query = """
           SELECT
           CAST(SUM(raised_amount_usd) AS INT64) AS total_funding
           FROM investments
           ORDER BY total_funding DESC
        """

pd.read_sql(query, conn)

   total_funding
0   592481886704

In [177]:
query = """
           SELECT company_name,
           CAST(SUM(raised_amount_usd) AS INT64) AS total_raised
           FROM investments
           GROUP BY company_name
           ORDER BY total_raised DESC
        """

pd.read_sql(query, conn)

                 company_name      total_raised
0                     Groupon 10,020,400,000.00
1                    Facebook  3,901,400,000.00
2                   Nanosolar  3,760,000,000.00
3                SurveyMonkey  2,800,000,000.00
4                   sigmacare  2,600,000,000.00
5                       Zynga  2,586,013,000.00
6                     Dropbox  2,508,400,000.00
7                   Clearwire  2,420,000,000.00
8                Bloom Energy  2,380,000,000.00
9                     Fab.com  2,226,325,000.00
10        Pacific Biosciences  2,197,160,000.00
11             Wave Broadband  2,100,000,000.00
12        BrightSource Energy  2,051,000,000.00
13          Fisker Automotive  1,960,000,000.00
14               LivingSocial  1,882,000,000.00
15                   Solyndra  1,833,000,000.00
16               Pure Storage  1,650,000,000.00
17     Kosmos Biotherapeutics  1,595,000,000.00
18                      KAYAK  1,590,500,000.00
19               Demand Media  1,567,693,000.00
20                Gilt Groupe  1,556,000,000.00
21                    Twitter  1,550,000,000.00
22                    MiaSol  1,495,000,000.00
23                  SunEdison  1,474,300,000.00
24                    TRUECar  1,471,000,000.00
25               Tesla Motors  1,451,500,000.00
26                     PayPal  1,364,000,000.00
27              Radius Health  1,314,800,000.00
28                  Pinterest  1,256,000,000.00
29                     Yammer  1,224,000,000.00
...                       ...               ...
10694    eHealth Technologies               nan
10695                   ePals               nan
10696               finalsite               nan
10697                   fl3ur               nan
10698                   g2One               nan
10699                    gBox               nan
10700                 goEmber               nan
10701                gripNote               nan
10702                iCracked               nan
10703                iVillage               nan
10704        imbookin (Pogby)               nan
10705                   imgIX               nan
10706   imo instant messenger               nan
10707                 inDplay               nan
10708                inFreeDA               nan
10709             inSparq.com               nan
10710   invisibleBracelet.org               nan
10711                    lark               nan
10712          mo9 (moKredit)               nan
10713               mobiTeris               nan
10714               my4oneone               nan
10715    myEnergyPlatform.com               nan
10716                myZamana               nan
10717              rag & bone               nan
10718               series-c+               nan
10719                 tsumobi               nan
10720                 vSocial               nan
10721       vcopious Software               nan
10722                viaCycle               nan
10723                  zuuka!               nan

[10724 rows x 2 columns]

In [130]:
query = """
           SELECT company_category_code,
           SUM(raised_amount_usd) AS total_raised
           FROM investments
           GROUP BY company_category_code
           ORDER BY total_raised DESC
        """

pd.read_sql(query, conn)

   company_category_code  total_raised
0                biotech  1.007142e+11
1               software  6.659789e+10
2              cleantech  4.746192e+10
3             enterprise  4.192625e+10
4                    web  3.616175e+10
5                 mobile  3.360948e+10
6                medical  2.347634e+10
7            advertising  2.214924e+10
8        network_hosting  2.098262e+10
9          semiconductor  2.026810e+10
10             ecommerce  1.987490e+10
11              hardware  1.922387e+10
12           games_video  1.725116e+10
13             analytics  1.306828e+10
14              security  1.164044e+10
15                social  1.044839e+10
16               finance  1.006278e+10
17                health  8.294121e+09
18      public_relations  7.481914e+09
19              nanotech  7.349025e+09
20                 other  5.849266e+09
21            automotive  5.412432e+09
22                search  5.238123e+09
23                  None  5.141245e+09
24         manufacturing  4.728932e+09
25                  news  4.384257e+09
26             education  4.058432e+09
27               fashion  3.662712e+09
28                travel  2.914385e+09
29             messaging  2.468920e+09
30        transportation  1.900300e+09
31            consulting  1.786811e+09
32                 music  1.662040e+09
33           photo_video  1.321014e+09
34           hospitality  1.205642e+09
35           real_estate  8.967436e+08
36             nonprofit  4.827728e+08
37                 legal  4.763500e+08
38                design  2.651400e+08
39                sports  2.492520e+08
40                 local  2.070600e+08
41                  pets  1.262500e+08
42            government  1.172500e+06
43                2/7/08           NaN

In [133]:
query = """
           SELECT investor_name,
           SUM(raised_amount_usd) AS total_invested
           FROM investments
           GROUP BY investor_name
           ORDER BY total_invested DESC
        """

pd.read_sql(query, conn)

                                          investor_name  total_invested
0                      Kleiner Perkins Caufield & Byers    1.121783e+10
1                             New Enterprise Associates    9.692542e+09
2                                         Goldman Sachs    6.375459e+09
3                                       Sequoia Capital    6.039402e+09
4                                     Greylock Partners    4.960983e+09
5                                         Intel Capital    4.695617e+09
6                         Draper Fisher Jurvetson (DFJ)    4.501461e+09
7                               Oak Investment Partners    4.350065e+09
8                                   Andreessen Horowitz    4.233674e+09
9                           Lightspeed Venture Partners    4.140979e+09
10                                            Benchmark    4.119949e+09
11                                     Battery Ventures    4.054532e+09
12                                    Redpoint Ventures    3.974377e+09
13                            Bessemer Venture Partners    3.628705e+09
14                                      Khosla Ventures    3.570409e+09
15                                  US Venture Partners    3.520820e+09
16                                              Venrock    3.353220e+09
17                            General Catalyst Partners    3.266554e+09
18                                         DAG Ventures    3.262943e+09
19                                       Menlo Ventures    3.235161e+09
20                        VantagePoint Capital Partners    3.113077e+09
21                                      Canaan Partners    2.990852e+09
22                             Digital Sky Technologies    2.921807e+09
23                       Institutional Venture Partners    2.906762e+09
24                             Norwest Venture Partners    2.867290e+09
25                                   Foundation Capital    2.789327e+09
26                             Polaris Venture Partners    2.632228e+09
27                                       Index Ventures    2.626592e+09
28                               Marlin Equity Partners    2.600000e+09
29                                   InterWest Partners    2.575068e+09
...                                                 ...             ...
8908                                                UBS             NaN
8909                              UCSD vonLiebig Center             NaN
8910                                          UniqueLab             NaN
8911                                        Utah Angels             NaN
8912                                     Vault Ventures             NaN
8913                                       Venture Farm             NaN
8914                                        Venture Lab             NaN
8915                              Ventureast Tenet Fund             NaN
8916                                         Venturelab             NaN
8917                         ViewPoint Capital Partners             NaN
8918                               Vijay Shekhar Sharma             NaN
8919                                       Vijesh Mehta             NaN
8920                                      Virgo Capital             NaN
8921                                      Vishal Gondal             NaN
8922                              Vista Equity Partners             NaN
8923                                          Waynn Lue             NaN
8924                                  Wenceslao Casares             NaN
8925  William C. Norris Institute at the University ...             NaN
8926                                    William Stefani             NaN
8927                                 Wynnchurch Capital             NaN
8928                        Yellowstone Energy Ventures             NaN
8929                                         Yoni Saban             NaN
8930                                         Young Sohn             NaN
8931                        Ziegler HealthVest Partners             NaN
8932                                         Ziver Birg             NaN
8933                                 b-to-v Partners AG             NaN
8934                                glendonTodd Capital             NaN
8935                                              iCamp             NaN
8936                                        mike schell             NaN
8937                                  venturecapital.de             NaN

[8938 rows x 2 columns]

In [134]:
query = """
           SELECT investor_name,
           AVG(raised_amount_usd) AS avg_invested
           FROM investments
           GROUP BY investor_name
           ORDER BY avg_invested DESC
        """

pd.read_sql(query, conn)

                                          investor_name  avg_invested
0                                Marlin Equity Partners  2.600000e+09
1                                           GI Partners  1.050000e+09
2                                  Eagle River Holdings  6.142500e+08
3                                 Laurel Crown Partners  4.500000e+08
4                              Digital Sky Technologies  3.652259e+08
5                                        Apple Ventures  3.190000e+08
6                          Clairvoyant Capital Services  3.190000e+08
7                                 Crystal Ball Ventures  3.190000e+08
8                                      NASA Bioventures  3.190000e+08
9                           Omniscient Venture Partners  3.190000e+08
10                                    Lone Pine Capital  3.000000e+08
11                                 The Skoll Foundation  3.000000e+08
12                                     Lindsay Goldberg  2.830000e+08
13                                       Breyer Capital  2.750000e+08
14                           Harbinger Capital Partners  2.650000e+08
15                                      Spectrum Assets  2.650000e+08
16                                          Carlos Slim  2.500000e+08
17                                       Iconiq Capital  2.435000e+08
18                                 Silver Lake Partners  2.404000e+08
19                            Madison Dearborn Partners  2.300500e+08
20                     Overseas Private Investment Corp  2.125000e+08
21                                 THE WORLD BANK GROUP  2.125000e+08
22                              Certified Capital Group  2.000000e+08
23                                  Danish Pension Fund  2.000000e+08
24                       International Investment House  2.000000e+08
25                                      Voobon Ventures  2.000000e+08
26                                  Riverstone Holdings  1.880000e+08
27                                 Fidelity Investments  1.823333e+08
28                                         Ofer Hi-Tech  1.800000e+08
29                                        CapitalSource  1.760000e+08
...                                                 ...           ...
8908                                                UBS           NaN
8909                              UCSD vonLiebig Center           NaN
8910                                          UniqueLab           NaN
8911                                        Utah Angels           NaN
8912                                     Vault Ventures           NaN
8913                                       Venture Farm           NaN
8914                                        Venture Lab           NaN
8915                              Ventureast Tenet Fund           NaN
8916                                         Venturelab           NaN
8917                         ViewPoint Capital Partners           NaN
8918                               Vijay Shekhar Sharma           NaN
8919                                       Vijesh Mehta           NaN
8920                                      Virgo Capital           NaN
8921                                      Vishal Gondal           NaN
8922                              Vista Equity Partners           NaN
8923                                          Waynn Lue           NaN
8924                                  Wenceslao Casares           NaN
8925  William C. Norris Institute at the University ...           NaN
8926                                    William Stefani           NaN
8927                                 Wynnchurch Capital           NaN
8928                        Yellowstone Energy Ventures           NaN
8929                                         Yoni Saban           NaN
8930                                         Young Sohn           NaN
8931                        Ziegler HealthVest Partners           NaN
8932                                         Ziver Birg           NaN
8933                                 b-to-v Partners AG           NaN
8934                                glendonTodd Capital           NaN
8935                                              iCamp           NaN
8936                                        mike schell           NaN
8937                                  venturecapital.de           NaN

[8938 rows x 2 columns]

In [136]:
query = """
           SELECT funding_round_type,
           COUNT(*) AS number_of_investments
           FROM investments
           GROUP BY funding_round_type
           ORDER BY number_of_investments DESC
        """

pd.read_sql(query, conn)

  funding_round_type  number_of_investments
0           series-a                  12975
1          series-c+                   9966
2            venture                   8113
3           series-b                   8092
4              angel                   7555
5              other                    827
6     private-equity                    319
7           post-ipo                     16
8       crowdfunding                      4
9               None                      3

## Results ## 
Based on our queries above we can answer the questions below:

* What proportion of the total amount of funds did the top 10% raise? What about the top 1%? Compare these values to the proportions the bottom 10% and bottom 1% raised.
  ** TBD **

* Which category of company attracted the most investments?
  ** Biotech companies attracted the most investment**

* Which investor contributed the most money (across all startups)?
  ** Kleiner Perkins Caufield & Byers contributed the most **
* Which investors contributed the most money per startup?
  ** On average, Marlin Equity Partners	contributed the most **

* Which funding round was the most popular? Which was the least popular?
  ** Series A was the most popular. While Post-IPO and Crowdfunding were the least popular **